
%table
  %tr
    %th
      = t('activerecord.attributes.payment_method.name')
    %th
      = t('activerecord.attributes.payment_method.description')

  - @payment_methods.each do |payment_method|
    %tr{:class => "#{cycle('even', 'odd')}"}
      %td
        = payment_method.name
      %td
        = payment_method.description
      %td
        = link_to_if is_admin?, t('activerecord.operations.edit'), edit_payment_method_path(payment_method)
      %td
        = link_to_if is_admin?, t('activerecord.operations.destroy'), payment_method, :method => :delete, :confirm => t('activerecord.operations.confirm'), :class => 'destroy'  
%br
= link_to t('activerecord.operations.new'), new_payment_method_path
