#logo
  %h1
    = link_to "Kobi", root_path
  
#menu
  %ul
    %li
      = link_to t('welcome.menu.what_is_kobi')
    %li
      = link_to t('welcome.menu.why_signup')
    %li
      = link_to t('welcome.menu.faq')    
    %li
      = link_to t('welcome.menu.tour')
    %li
      = link_to t('welcome.menu.contact')  
