  
#menu
  %ul
    %li
      = link_to t('welcome.menu.what_is_kobi'), '#what-is-kobi'    
    %li
      = link_to t('welcome.menu.tour'), '#tour'
    %li
      = link_to t('welcome.menu.faq'), '#faq'        
    %li
      = link_to t('welcome.menu.contact'), '#contact'
    %li
      = link_to t('welcome.menu.blog'), 'http://blog.kobi.ro'
