#left
  .box.logo
    %h1
      = link_to "Kobi", root_path  
      
  .strapline
    %h3.part-1
      Cel mai usor
    %h3.part-2
      mod de a face
    %h3.part-3 
      economii  
    

#right    
  #menu
    %ul
      %li
        = link_to t('welcome.menu.what_is_kobi'), '#what-is-kobi', :class=> 'active'    
      %li.active
        = link_to t('welcome.menu.tour'), '#tour'
      %li
        = link_to t('welcome.menu.faq'), '#faq'        
      %li
        = link_to t('welcome.menu.contact'), '#contact'
      %li.last
        = link_to t('welcome.menu.blog'), 'http://blog.kobi.ro'
        
        
