- form_for(@expense_type) do |f|
  = f.error_messages
  %p
    = f.label t('activerecord.attributes.expense_type.name')
    %br
    = f.text_field :name
  %p
    = f.label t('activerecord.attributes.expense_type.description')
    %br
    = f.text_area :description
  %p
    = f.submit button_text
    = link_to t('activerecord.operations.back'), expense_types_path
 
