#logo
  %h1
    = link_to "Kobi", root_path
    
#menu
  %ul
    %li
      = link_to t('activerecord.models.expense'), new_expense_path      

#account
  %ul
    %li
      = link_to "Cont", edit_registration_path(current_user)
      &nbsp;&bull;&nbsp;
    %li 
      = link_to "Iesire", destroy_session_path(current_user)
      
#flash
  = render :partial => "shared/flash_messages" 
  
  

