#edit_expense
  - remote_form_for @expense do |f|
    = f.error_messages
    = f.hidden_field :divid, :value => @divid
    .block
      %ul.edit
        %li.date
          = f.date_select :date, :use_short_month => true
        %li.amount
          = f.text_field :amount
          RON
          - unless @wide
            %br
            = f.select :payment_method_id, @payment_methods.collect {|p| [p.name, p.id]}, :selected => @selected_pm
            %br
            = f.select :expense_type_id, @expense_types.collect {|p| [p.name, p.id]}, :selected => @selected_et
        %li.category
          = f.select :category_id, option_group_for_roots(@roots, nil, @selected) + option_groups_from_collection_for_select(@categories, :children, :name, :id, :name, @selected)
        %li.tags
          = f.text_field :tag_list
        - if @wide
          %li.expense_type
            = f.select :expense_type_id, @expense_types.collect {|p| [p.name, p.id]}, :selected => @selected_et            
          %li.payment_method
            = f.select :payment_method_id, @payment_methods.collect {|p| [p.name, p.id]}, :selected => @selected_pm
        %li.buttons
          = f.submit t('activerecord.operations.ok')
          %br
          = link_to_remote t('activerecord.operations.back'), :url => {:controller => 'expenses', :action => 'close', :id => @expense.id, :divid => @divid}, :html => {:class => 'link'}
          %br
          = link_to t('activerecord.operations.destroy'), @expense, :confirm => t('activerecord.operations.confirm'), :method => :delete, :class => 'destroy'
 
