#edit_expense
  - remote_form_for @expense do |f|
    = f.error_messages
    = f.hidden_field :divid, :value => @divid
    .block
      %ul.edit
        %li.date
          = f.date_select :date, :use_short_month => true
        %li.amount 
          = f.text_field :amount
          RON
          %br
          = f.select :payment_method_id, @payment_methods.collect {|p| [p.name, p.id]}
          %br
          = f.select :expense_type_id, @expense_types.collect {|p| [p.name, p.id]}  
        %li.category
          = render :partial => 'selected', :locals => {:selected => @selected, :roots => @roots}
        %li.tags
          = f.text_field :tag_list
        %li.buttons
          = f.submit t('activerecord.operations.ok')  
          %br
          = link_to_remote t('activerecord.operations.back'), :url => {:controller => 'expenses', :action => 'close', :id => @expense.id, :divid => @divid}, :html => {:class => 'link'}           
          %br
          = link_to t('activerecord.operations.destroy'), @expense, :confirm => t('activerecord.operations.confirm'), :method => :delete, :class => 'destroy'
