#index_expenses
  %ul.header
    %li.date
      = t('activerecord.attributes.expense.date')
    %li.amount
      = t('activerecord.attributes.expense.amount')
    %li.category
      = t('activerecord.attributes.expense.category')
    %li.tags
      = t('activerecord.attributes.expense.tags')
  
  
  %ul.items
    = render :partial => 'expense', :collection => @current, :locals => {:divid => 'current', :wide => false}
  
  .clear
  
  #accordion    
    - @accordion_items.each do |k, v, s|
      = render :partial => 'accordion', :locals => {:title => k, :items => v, :sum => s}
    
