#expenses
  .item
    .column
      = t('activerecord.attributes.expense.date')
    .column
      = t('activerecord.attributes.expense.amount')
    .column
      &nbsp;
  - @expenses.each do |expense|
    .item 
      .column
        = expense.date
      .column
        = expense.amount
      .column
        = link_to_remote 'Edit', :url => edit_expense_path(expense), :method=> :get, :update => "ajax-update"
        = link_to 'Destroy', expense, :confirm => 'Are you sure?', :method => :delete
    #ajax-update
      
