#edit_expense
  - form_for @expense do |f|
    = f.error_messages
    %ul.edit
      %li.date
        = f.date_select :date, :use_short_month => true
      %li.amount 
        = f.text_field :amount
        RON
      %li.category
        = f.select :category_id, option_groups_from_collection_for_select(@categories, :children, :name, :id, :name, @expense.category.id)
      %li.tags
        = f.text_field :tag_list
    %br
    = f.submit t('activerecord.operations.edit')  
    = link_to t('activerecord.operations.back'), new_expense_path
