- content_for :title do 
  = t('expenses.title.all')
- content_for :flash do
  = render :partial => "shared/flash_messages", :locals => {:messages => [:success, :error]}
  
- content_for :sidebar do
  %h4.title
    = t('dashboard.sidebar.additional_operations')
  %ul
    %li
      = link_to t('activerecord.models.category'), categories_path
      
  %h4.title
    = t('dashboard.sidebar.suport')
  %ul
    %li 
      = link_to t('dashboard.sidebar.suggestions'), "http://blog.kobi.ro/7/sugestii-pentru-cheltuieli/"
    %li 
      = link_to t('dashboard.sidebar.help'), "http://blog.kobi.ro/manual-de-utilizare/cheltuieli/"

#search_expense.block
  - form_for @search do |f|
    %ul.search
      %li.date
        = f.label :date_gte, t('expenses.search.start_date')
        %br
        = f.date_select :date_gte, :use_short_month => true
        -#= f.text_field :date_gte
        %br
        = f.label :date_lte, t('expenses.search.end_date')
        %br
        = f.date_select :date_lte, :use_short_month => true
        -#= f.text_field :date_lte
      %li.amount
        = f.label :amount_gte, t('expenses.search.start_amount')
        %br
        = f.text_field :amount_gte, :size => 6
        %br
        = f.label :amount_lte, t('expenses.search.end_amount')
        %br
        = f.text_field :amount_lte, :size => 6
      %li.category
        = f.label :category_id_equals, t('expenses.search.category')
        %br
        = f.collection_select :category_id_equals, @categories, :id, :name, :include_blank => true
      %li.tags
        = f.label :tags_name_equals, t('expenses.search.tags')
        %br
        = f.collection_select :tags_name_equals, @tags, :name, :name, :include_blank => true
      %li.buttons
        = f.submit 'Search'
      
.block
  %ul.header
    %li.date
      = t('activerecord.attributes.expense.date')
    %li.amount
      = t('activerecord.attributes.expense.amount')
    %li.category
      = t('activerecord.attributes.expense.category')
    %li.tags
      = t('activerecord.attributes.expense.tags')
  
  %ul.items    
    - @expenses.each do |expense|
      .item{:class => "#{cycle('even', 'odd')} block"}
        %li.date
          = l(expense.date)
        %li.amount
          = expense.amount
        %li.category
          = expense.category.blank? ? t('activerecord.operations.category.empty') : expense.category.name
        %li.tags
          = expense.tag_list   

.block
  %ul.stats
    %li.date
      = @count
      = t('expenses.search.count')
    %li
      = @sum
      = t('expenses.search.sum')       
        
