
#search_expense.block
  - form_for @search do |f|
    %ul.search
      %li.date
        = f.label :date_gte, t('expenses.search.start_date')
        %br
        = f.date_select :date_gte, :use_short_month => true
        -#= f.text_field :date_gte
        %br
        = f.label :date_lte, t('expenses.search.end_date')
        %br
        = f.date_select :date_lte, :use_short_month => true
        -#= f.text_field :date_lte
      %li.amount
        = f.label :amount_gte, t('expenses.search.start_amount')
        %br
        = f.text_field :amount_gte, :size => 6
        %br
        = f.label :amount_lte, t('expenses.search.end_amount')
        %br
        = f.text_field :amount_lte, :size => 6
      %li.category
        = f.label :category_id_equals, t('expenses.search.category')
        %br
        = f.collection_select :category_id_equals, @categories, :id, :name, :include_blank => true
      %li.tags
        = f.label :tags_name_equals, t('expenses.search.tags')
        %br
        = f.collection_select :tags_name_equals, @tags, :name, :name, :include_blank => true
      %li.expense_type
        = f.label :expense_type_id_equals, t('activerecord.models.expense_type')
        %br
        = f.collection_select :expense_type_id_equals, @expense_types, :id, :name, :include_blank => true
      %li.payment_method
        = f.label :payment_method_id_equals, t('activerecord.models.payment_method')
        %br
        = f.collection_select :payment_method_id_equals, @payment_method, :id, :name, :include_blank => true
      %li.buttons
        = f.submit t('activerecord.operations.search')
      
#search_expenses
  %ul.header
    %li.date
      = t('activerecord.attributes.expense.date')
    %li.amount
      = t('activerecord.attributes.expense.amount')
    %li.category
      = t('activerecord.attributes.expense.category')
    %li.tags
      = t('activerecord.attributes.expense.tags')
    %li.expense_type
      = t('activerecord.models.expense_type')
    %li.payment_method
      = t('activerecord.models.payment_method')
  
  %ul.items        
    = render :partial => 'expense', :collection => @expenses, :locals => {:divid => 'expenses', :wide => true}  

  .block
    %ul.stats
      %li.date
        -#= @count
        -#= t('expenses.search.count')
        &nbsp;
      %li
        = @sum
        = t('expenses.search.sum')       
        
