- content_for :title do 
  = t('activerecord.models.description.expense')
- content_for :flash do
  = render :partial => "shared/flash_messages", :locals => {:messages => [:success, :error]}
  
- content_for :sidebar do
  %h4.title
    = t('dashboard.sidebar.additional_operations')
  %ul
    %li
      = link_to t('activerecord.models.category'), categories_path
      
  %h4.title
    = t('dashboard.sidebar.suport')
  %ul
    %li 
      = link_to t('dashboard.sidebar.suggestions'), "http://blog.kobi.ro/7/sugestii-pentru-cheltuieli/"
    %li 
      = link_to t('dashboard.sidebar.help'), "http://blog.kobi.ro/manual-de-utilizare/cheltuieli/"
      
.block
  %ul.header
    %li.date
      = t('activerecord.attributes.expense.date')
    %li.amount
      = t('activerecord.attributes.expense.amount')
    %li.category
      = t('activerecord.attributes.expense.category')
    %li.tags
      = t('activerecord.attributes.expense.tags')
  
  %ul.items    
    - @expenses.each do |expense|
      .item{:class => "#{cycle('even', 'odd')} block"}
        %li.date
          = l(expense.date)
        %li.amount
          = expense.amount
        %li.category
          = expense.category.blank? ? t('activerecord.operations.category.empty') : expense.category.name
        %li.tags
          = expense.tag_list          
        
