- content_for :title do 
  = t('activerecord.models.description.expense')
  #flash.resource
    = render :partial => "shared/flash_messages", :locals => {:messages => [:success, :error]}
  
- content_for :sidebar do
  %h4.title
    = t('dashboard.sidebar.additional_operations')
  %ul
    %li
      = link_to t('activerecord.models.category'), categories_path
      
  %h4.title
    = t('dashboard.sidebar.suport')
  %ul
    %li 
      = link_to t('dashboard.sidebar.suggestions'), "http://blog.kobi.ro/7/sugestii-pentru-cheltuieli/"
    %li 
      = link_to t('dashboard.sidebar.help'), "http://blog.kobi.ro/manual-de-utilizare/cheltuieli/"
  
.block    
  - form_for @expense do |f|
    = f.error_messages
    %ul.new
      %li.date
        = f.date_select :date, :use_short_month => true
      %li.amount 
        = f.text_field :amount
        RON
      %li.category
        -#= select :expense, :category_id, Category.all.collect {|c| [c.name, c.id]}
        = f.select :category_id, option_groups_from_collection_for_select(@categories, :children, :name, :id, :name)
      %li.tags
        = f.text_field :tag_list
      %li.buttons
        = f.submit " + "  

.block  
  = render :partial => "expenses/index"
