%h3
  Cheltuieli
  
- form_for @expense do |f|
  = f.error_messages
  %ul
    %li.date
      = f.date_select :date
    %li.amount 
      = f.text_field :amount
      RON
    %li.category
      = select :expense, :category_id, Category.all.collect {|c| [c.name, c.id]}
    %li.tag
      = f.text_field :tags_saved
    %li.button
      = f.submit "+"  
  
= render :partial => "expenses/index"
