.block
  - form_for @expense do |f|
    = f.error_messages    
    %ul.new
      %li.date
        = f.date_select :date, :use_short_month => true
        %br
        = link_to_remote t('activerecord.operations.category.fix_date'), :url => {:controller => 'expenses', :action => 'fixed_date' }, :with => "'day='+$F('expense_date_3i')+'&month='+$F('expense_date_2i')+'&year='+$F('expense_date_1i')", :html => {:title => t('activerecord.operations.category.fix_date_hint')}
        = link_to t('activerecord.operations.category.remove_date'), :controller => 'expenses', :action => 'new', :remove_date => '1'
      %li.amount 
        = f.text_field :amount
        RON
        %br
        -#= t('activerecord.attributes.payment_method.name')
        -#%br
        = f.select :payment_method_id, @payment_methods.collect {|p| [p.name, p.id]}
        %br
        -#= t('activerecord.attributes.expense_type.name')
        -#%br
        = f.select :expense_type_id, @expense_types.collect {|p| [p.name, p.id]}        
      %li.category        
        = f.select :category_id, @roots.collect {|p| [p.name, p.id]}
        %br
        %div{:id => 'expense_subcat_1'}
        = link_to_remote t('activerecord.operations.category.new'), :url => {:controller => 'categories', :action => 'new'}, :update => "expense-new-category", :html => {:title => t('activerecord.operations.category.new_hint')}               
      %li.tags
        = f.text_field :tag_list        
      %li.buttons
        = f.submit " + "  
  
  = observe_field 'expense_category_id', :url => {:controller => 'categories', :action => 'subcat'}, :with => "'id=' + value + '&level=1'"
      
.block
  %div{:id => "expense-new-category"}

.block  
  = render :partial => "expenses/index"
  

