- content_for :title do 
  = t('activerecord.models.description.expense')
  
- content_for :sidebar do
  %h4.title
    = t('dashboard.sidebar.additional_operations')
  %ul
    %li
      = link_to t('activerecord.models.category'), categories_path
      
  %h4.title
    = t('dashboard.sidebar.suport')
  %ul
    %li 
      = link_to t('dashboard.sidebar.suggestions'), "http://blog.kobi.ro/7/sugestii/"
  
.block    
  - form_for @expense do |f|
    = f.error_messages
    %ul
      %li.date
        = f.date_select :date, :use_short_month => true
      %li.amount 
        = f.text_field :amount
        RON
      %li.category
        = select :expense, :category_id, Category.all.collect {|c| [c.name, c.id]}
      %li.tags
        = f.text_field :tags_saved
      %li.buttons
        = f.submit " + "  

.block  
  = render :partial => "expenses/index"
