- content_for :title do 
  = t('activerecord.models.description.expense')
- content_for :flash do
  = render :partial => "shared/flash_messages", :locals => {:messages => [:success, :error]}
  
- content_for :sidebar do
  %h4.title
    = t('dashboard.sidebar.additional_operations')
  %ul
    %li
      = link_to t('activerecord.models.category'), categories_path
      
  %h4.title
    = t('dashboard.sidebar.suport')
  %ul
    %li 
      = link_to t('dashboard.sidebar.suggestions'), "http://blog.kobi.ro/7/sugestii-pentru-cheltuieli/"
    %li 
      = link_to t('dashboard.sidebar.help'), "http://blog.kobi.ro/manual-de-utilizare/cheltuieli/"
  
.block
  - form_for @expense do |f|
    = f.error_messages
    %ul.new
      %li.date
        = f.date_select :date, :use_short_month => true
        %br
        = link_to_remote t('activerecord.operations.category.fix_date'), :url => {:controller => 'expenses', :action => 'fixed_date' }, :update => "flash-resource", :with => "'day='+$F('expense_date_3i')+'&month='+$F('expense_date_2i')+'&year='+$F('expense_date_1i')", :html => {:title => t('activerecord.operations.category.fix_date_hint')}
        = link_to_remote t('activerecord.operations.category.remove_date'), :url => {:controller => 'expenses', :action => 'fixed_date', :remove_date => '1'}, :update => "flash-resource"
      %li.amount 
        = f.text_field :amount
        RON
      %li.category        
        = f.select :category_id, option_group_for_roots(@roots, nil) + option_groups_from_collection_for_select(@categories, :children, :name, :id, :name)
        %br
        = link_to_remote t('activerecord.operations.category.new'), :url => {:controller => 'categories', :action => 'new'}, :update => "expense-new-category", :html => {:title => t('activerecord.operations.category.new_hint')}               
      %li.tags
        = f.text_field :tag_list
      %li.buttons
        = f.submit " + "  
.block
  %div{:id => "expense-new-category"}

.block  
  = render :partial => "expenses/index"
