!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
  %title
    Kobi 
  = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
  = stylesheet_link_tag 'print.css', :media => 'print'
  /[if IE]
    = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
  
  = stylesheet_link_tag 'formtastic', :media => 'screen, projection'
  
  = stylesheet_link_tag 'application', :media => 'screen, projection'
  %body    
    #header
     
    #content
      = yield
    
    #footer
      %p         
        %span.highlight
          hello.kobi@gmail.com
    
    = render :partial => 'shared/ga' if RAILS_ENV == 'production'
