!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title
      Kobi 
  -#= javascript_include_tag "prototype"
  -#= javascript_include_tag "jquery"
  = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js"
  = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"  
  -#= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"  
  = javascript_include_tag "application"
 
  
  = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
  = stylesheet_link_tag 'print.css', :media => 'print'
  /[if IE]
    = stylesheet_link_tag 'ie.css', :media => 'screen, projection'  
  
  -#= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css"  
  
  = stylesheet_link_tag 'application', :media => 'screen, projection'
  
  %body{:id => 'dashboard', :class => 'dashboard'} 
    #header.block
      = render :partial => "shared/header"
    #menu.block
      = render :partial => "shared/menu"
    #submenu.block
      .navigation
        = render_navigation :level => 2      
      #flash-top.flash 
        = render :partial => "shared/flash_messages", :locals => {:messages => [:notice, :alert]}
        
    %div{:class => "#{controller.controller_name}"}  
      #content
        #titlebar.block
          #title
            = yield :title
          #flash-resource.flash
            = yield :flash
        #body
          = yield  
      #sidebar{:class => controller.controller_name}       
        = yield :sidebar  
    #footer
      
