!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title
      Kobi 
  = javascript_include_tag "prototype"
  = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"  
  = javascript_include_tag "sitemapstyler"
  = javascript_include_tag "application"
 
  
  = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
  = stylesheet_link_tag 'print.css', :media => 'print'
  /[if IE]
    = stylesheet_link_tag 'ie.css', :media => 'screen, projection'  
  = stylesheet_link_tag 'formtastic', :media => 'screen, projection'
  
  = stylesheet_link_tag 'sitemapstyler', :media => 'screen, projection'
  = stylesheet_link_tag 'application', :media => 'screen, projection'
  
  %body.dashboard 
    #header
      = render :partial => "shared/header"
    = render :partial => "shared/flash_messages", :locals => {:messages => [:notice, :alert], :role => 'top'}  
    #content{:class => controller.controller_name}
      #title
        = yield :title
      #body
        = yield  
    #sidebar{:class => controller.controller_name}       
      = yield :sidebar  
    #footer
      
