!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
  %title
    Kobi 
  = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
  = stylesheet_link_tag 'print.css', :media => 'print'
  /[if IE]
    = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
  
  = stylesheet_link_tag 'formtastic', :media => 'screen, projection'
  
  = stylesheet_link_tag 'application', :media => 'screen, projection'
  %body.login  
    .col
      &nbsp;
    
    .col
      #header
        .box.block
          .logo
            %h1
              Kobi
          .title
            = yield :title
      #content.block      
        .form
          = yield    
      #footer.block
        %span.highlight
          = link_to t('menu.informations'), "http://blog.kobi.ro"
    
    .col
      &nbsp;
